
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
ebdjango_cs5224/__pycache__/__init__.cpython-39.pyc
ebdjango_cs5224/__pycache__/settings.cpython-39.pyc
ebdjango_cs5224/__pycache__/urls.cpython-39.pyc
ebdjango_cs5224/__pycache__/wsgi.cpython-39.pyc
