<div class="topics">

            <div class="topics__header", style="text-indent: 20px;">
                <h2>Browse Services</h2>
            </div>

            <ul class="topics__list">
                <li>
                    <a href="{%url 'home'%}", style="text-indent: 20px;">Select Place</a>
                </li>
                <li>
                    <a href="{%url 'weather' curr_la curr_lo%}", style="text-indent: 20px;">Travel Helper</a>
                </li>
                <li>
                    <a href="{%url 'stores' curr_la curr_lo %}", style="text-indent: 20px;">Spot Places</a>
                    <p>{{la_lo_key}}</p>
                </li>
            </ul>

</div>  