{% load static %}
<header class="header header--loggedIn">
    <div class="container">
        <a href="{%url 'home'%}" class="header__logo">
            <img style="height:40px; width:auto" src="{% static 'base/media/logo.png' %}" />
        </a>
        <nav class="header__menu" style="  display: flex;
        flex-direction: row;
        justify-content: center;">
            <!-- Logged In -->
            {%if request.user.is_authenticated%}
            <div class="header__user">
                <a href="">
                    <p>{{request.user.username}} <span>@{{request.user.username}}</span></p>
                </a>
            </div>
            <div class="header__user" style="margin-left: 20px;">
                <a href="{%url 'logout'%}">
                    <p>Logout</p>
                </a>
            </div>
            {%else%}
            <div class="header__user" style="margin-left: 20px;">
                <a href="{%url 'login'%}">
                    <p>Login</p>
                </a>
            </div>
            {%endif%}
        </nav>

    </div>
    
    
</header>


