{%extends 'main.html' %}
{%block content%}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>


<div class="home-container">
    <div class="container">
        {%include 'components/services.html'%}
    </div>

    <div class="container">
        <br>
        <h2>Select Placese of Interest:</h2>
        <br>
        {%include 'components/map.html'%}
    </div>

    <div class="container">
        {%include 'components/notification.html'%}
    </div>

</div>


{%endblock content%}
