{%extends 'main.html' %}
{%block content%}

<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
    }
</style>


<div class="home-container">
    <div class="container">
        {%include 'components/services.html'%}
    </div>

    <div class="container">
        <br>
        <h2>Seleect Placese of Interest:</h2>
        <br>
        {%include 'components/map.html'%}
        <h1>{{cood_x}}</h1>
        <h1>{{cood_y}}</h1>
    </div>

    <div class="container">
    </div>

</div>


{%endblock content%}
